/* Bloques de CSS */

nav {
   background-color: beige;
   font-size: 1.5em;
}
section {
    display: flex;
    flex-direction: row;
}
.mitad, section aside {
    border: 1px orange dotted;
    /* width: 45%; */
    flex: 1;
}

footer{
    background-color: black;
    color: yellow;
}
